<%- include("partials/header") %>
<%- include("partials/aside") %>
<li><a href="/">Home</a></li>
<li><a href="/animalshelter/1">Animal shelter</a></li>
<li><a href="/contactpersons">Contact persons</a></li>
</ul>
</section>

</aside>
<main>
    <section class="main-top">
        <h2>Error 404 - Page Not Found</h2>
    </section>
    <section class="main-body">
        <article class="card card404">
            <section>
                <p>It looks like the page you were trying to access is not available. This might be because:</p>
            </section>
            <section>
                <ul>
                    <li>The page has been moved or deleted.</li>
                    <li>You may have mistyped the URL.</li>
                    <li>The page never existed.</li>
                </ul>
            </section>
            <section>
                <p>Here are some helpful links instead:</p>
            </section>
            <section>
<a href="/">Home</a>
<a href="/animalshelter/1">Animal Shelters</a>
<a href="/contactpersons">Contact Persons</a>

            </section>
        </article>
    </section>
<%- include("partials/footer") %>
