<aside>
    <section class="aside-top">
        <h1>Com</h1>
        <h2>PASS</h2>
        <p class="system-description">Compassionate Animal Shelter Management System</p>
    </section>
    <section class="aside-bottom">
        <ul>