<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Effortlessly manage your animal shelter with the Compassionate Animal Shelter Management System. Organize adoptions, care, medical records, and more, while treating the needs of animals with compassion and care.">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/modal.js" defer type="module"></script>
    <title><%= title %></title>
</head>
<body>
    
    <header>
        <h2>Compassionate Animal Shelter Management System</h2>
    </header>